{% extends 'base.html' %}

{% block body %}
{% load static %}

<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>تواصل معنا</h2>
        <p>يسعدنا تواصلك معنا سوف نتصل بك في اسرع وقت</p>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6 info">
              <i class="bx bx-map"></i>
              <h4>العنوان</h4>
              <p>مصر<br>القاهرة</p>
            </div>
            <div class="col-lg-6 info">
              <i class="bx bx-phone"></i>
              <h4>اتصل بنا</h4>
              <p>+0201123434197<br></p>
            </div>
            <div class="col-lg-6 info">
              <i class="bx bx-envelope"></i>
              <h4>Email Us</h4>
              <p>kamal.ahmed490.ka83@gmail.com<br></p>
            </div>
            <div class="col-lg-6 info">
              <i class="bx bx-time-five"></i>
              <h4>نعمل علي مدار الاسبوع</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-6">

          <form action="{% url 'contact' %}" method="post"  >
            {% csrf_token %}

            <div class="form-group">
              <input placeholder="ادخل الاسم " type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group mt-3">
              <input placeholder="الاميل الخاص بك " type="email" class="form-control" name="email" id="email" required>
            </div>
            <div class="form-group mt-3">
              <input placeholder=" رقم الجوال" type="text" class="form-control" name="phon" id="subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea placeholder="رسالتك" class="form-control" name="massge" rows="5" required></textarea>
            </div>
            <br>
            <div class="text-center"><button style="width: 100%;" type="submit" class="btn btn-outline-info">ارسل الان</button></div>




            </div>
            <div class="my-3">
              <div class="sent-message">
                {% if messages %}
                {% for messages in messages %}
                   <div style="text-align: center;" class="alert alert-danger" role="alert">
                      {{messages}}
                   </div>
      
                {% endfor %}
             {% endif %}
              </div>
            </div>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->








  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock body %}