{% extends 'base.html' %}


{% block body %}
{% load static %}



<!--   <video autoplay muted loop id="myVideo">
    <source style="position: fixed;" src="{% static '3.mp4' %}" type="video/mp4">
  </video> -->

  <!-- ======= Hero Section ======= -->
  <section style=""  id="hero"  class="d-flex align-items-center">




    <div class="container">


      <div class="row">


        <div  class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
          <div>
            <h1>اهلا بك في شركة هايبر كود</h1>
            <h2>شركة مصرية مميزة تعمل فى مجال تصميم المواقع وانتاج البرمجيات  وتمتلك مكانة مميزة فى السوق المصرى  تمتلك الشركة فريق عمل مميز متخصص فى تصميم وتطوير المواقع الالكترونية لدينا خبرة طويلة فى هذا المجال منذ اكثر من 10 اعوام</h2>
            <a href="#" class="download-btn"> تفصيل اكتر</a>
            <a href="#" class="download-btn"> تواصل </a>
          </div>
        </div>
        <div  class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
          <img src="{% static 'assets/img/s/hero-img.png'%}" class="img-fluid" alt="">
          
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main  id="main">

    <!-- ======= App Features Section ======= -->
    <section id="features" class="features">ٍ
      <div class="container">

        <div class="section-title">
          <h2>عن الشركة</h2>
          <p>نحن شركة برمجيات متخصصة في انشاء المواقع والسستم لي الشركات باحدث التقنيات الحديثة والمتطورة</p>
          <p>نحن نستخدم اكواد برمجية حقيقه يتم  تصممها من قبل مهندسين متخصصين في انشاء المواقع ٍ</p>
        </div>

        <div class="row no-gutters">
          <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="bx bx-receipt"></i>
                  <h4>  ترتيب الاولويات</h4>
                  <p>من الهام اظهار الاولويات في موقعك الشخصي باحترافية  واتقان اجعل عملائك يتعرفون علي  غاية موقعك  سريعا بشكل احترافي</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-cube-alt"></i>
                  <h4>تحديثات بشكل دائم </h4>
                  <p>ما يميز شركتنا هوا الدعم الفني المستمر لمشاريعنا السابقة والتي تشمل تحدثات  تقنية وفنية</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-images"></i>
                  <h4>شكل الموقع </h4>
                  <p>جمال الموقع امرا هاما لجذب عملائك نحن نستخدم احدث التقنيات لاعطاء طابع جمالي وجذاب لموقعك</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-shield"></i>
                  <h4>موقع امن</h4>
                  <p>من الهام جدا ان يكون موقعك امن ومشفر لذلك نحن نستخدم افضل تقنيات الباك اند الخاصة بالتشفير    </p>

                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-atom"></i>
                  <h4>التحكم  في موقعك</h4>
                  <p>تعتمد سياستنا علي توفير لعملائنا التحكم الكامل في الموقع الخاص بهم من خلال النشر والتنسق  مقالات وصور وفديهات</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <i class="bx bx-id-card"></i>
                  <h4>الحفاظ علي البيانات</h4>
                  <p>تقوم انظمتنا بشكل دائم  بحفظ البيانات واستدعائها بشكل امن وسريع   </p>
                </div>
              </div>
            </div>
          </div>
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'assets/img/features.svg'%}" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section><!-- End App Features Section -->




    <!-- ======= Details Section ======= -->
    <section  id="details" class="details">
      <div class="container">

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{% static 'assets/img/details-1.png'%}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>الغات المستخدمة في انشاء الموقع الخاص بك</h3>
            <p class="fst-italic">
              نحن ننشئ المواقع باستخدام لغه برمجة البايثون كلغه باك اند وفي اطار عمل دجانكو فريم ورك 
            </p>
            <ul>
              <li><i class="bi bi-check"></i>برمجه حقيقية قابله للتطوير </li>
              <li><i class="bi bi-check"></i> اكواد نظيفة تسلم للعميل </li>
              <li><i class="bi bi-check"></i> دعم فني بشكل دائم لي انظمة السستم والمواقع العملاقة</li>
              <li><i class="bi bi-check"></i> تحسينات وتطورات في شكل الموقع بصورة مستمرة </li>
              <li><i class="bi bi-check"></i> موقع متجاوب مع جميع الشاشات</li>


            </ul>
            <p>
              نحن نوفر لك ايضا امكانية استقبال رسايل العملاء علي البريد الالكتروني الخاص بك وكذلك النشر والتعديل في اي وقت لي المقالات باستخدام احدث ادوات النشر والتي تشمل الفديوهات والصور و النصوص 

            </p>
          </div>
        </div>



        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="{% static 'assets/img/details-2.png'%}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>سيرفارات سريعه وامنة</h3>
            <p class="fst-italic">
              من الهام جدا ان يكون موقعك الالكتروني سريع وامن لارضاء عملائك المستمرين 
            </p>
            <p>
              نحن نعمل علي السيرفارات الخاصة باكبر الشركات وذلك لضمان افضل النتائج كسيرفارات امزون وديجتل وغيرها 
            </p>
            <p>
              نحن ننشئ سيرفير جديد خاص بكل عميل وعند الانتهاء من العمل يتم رفع البروجكت علي السيرفير وتسليمة للعميل بشكل كامل 
            </p>
            <p>او تسلم الملفات للعميل اذا كان يريد التعامل مع سيرفارات مختلفه او العمل بشكل منفصل</p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{% static 'assets/img/details-3.png'%}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5" data-aos="fade-up">
            <h3>أدوات SEO
            </h3>
            <p> يعني أن تحسين ضهور موقعك في محركات البحث يمكن أن يساعدك بشكل كبير في جلب الزوار إلى موقعك الخاص بك والحصول على مراتب أعلى</p>
            <ul>
              <li><i class="bi bi-check"></i>  تحسين موقعك طبقا لمتطلبات محركات البحث</li>
              <li><i class="bi bi-check"></i> زيادة عدد زيارات الموقع الإلكتروني كفيل ببناء قاعدة متابعين لنشاطك التجاري</li>
              <li><i class="bi bi-check"></i> تتم هذة العملية عن طريق مايسمى ب عناكب البحث المسؤلة عن الزحف وتتبع الروابط بين صفحات المواقع</li>
            </ul>
            <p>
               هو عملية تطوير المواقع لتناسب متطلبات محركات البحث المختلفة مثل Google  أو Bing بهدف الظهور في نتائج البحث الأولى للكلمات والمصطلحات الرئيسية المستخدمة من العملاء المحتملين للشركات والمشروعات والأنشطة التجارية.
            </p>
            <p>
              محركات البحث هي مصدر 70% من زيارات المواقع الإلكترونية حيث يقوم زوار المواقع باللجوء إلى محركات البحث المختلفة للإجابة على أسئلة معينة أو البحث عن منتج أو خدمة مع وجود مئات الموضوعات المنشورة للإجابة عن أسئلة الزوار وتواجد مواقع إلكترونية لمعظم الشركات والمشروعات التجارية التي توفر بدائل متعددة
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="{% static 'assets/img/details-4.png'%}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>مراحل العمل </h3>
            <p class="fst-italic">
              تحديد فكرة الموقع والهدف منه
            </p>




  
            <ul>
              <p><i class="bi bi-check"></i>رسم تخيل للمواقع ووظائفة </p>
              <p><i class="bi bi-check"></i>بداء تصميم وجه الموقع</p>
              <p><i class="bi bi-check"></i>تصميم الباك اند الخاص به</p>
  
              <p><i class="bi bi-check"></i>مراجعه شاملة للموقع والتاكد من عمل الوظائف بشكل صحيح</p>
              <p><i class="bi bi-check"></i>رفع الموقع علي السيرفير الخاص به 
  
              </p>
              <p><i class="bi bi-check"></i>اختبار سرعه وامان السيرفير 
  
              </p>
              <p><i class="bi bi-check"></i>تسليم السيت للعميل وربط الدمين الخاص به
  
              </p>
              <li><i class="bi bi-check"></i> عند الانتهاء يتم ارسال ملفات الموقع للعميل بشكل كامل </li>
       
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Details Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>اعملنا</h2>
          <p>بعض  من اعملنا</p>
        </div>

      </div>






      <div class="container-fluid" data-aos="fade-up">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for images in images %}

            <div class="carousel-item active">
              <img src="{{ images.image.url }}" class="d-block w-100" alt="...">
            </div>
            {% endfor %}



          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">السابق</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">التالي</span>
          </button>
        </div>


      </div>
    </section>
    
    
    <!-- End Gallery Section -->

    <!-- ======= Testimonials Section ======= -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>الاسعار</h2>
          <p>يعتمد سعر الموقع علي التقنيات المضافه اليه يمكنك مناقشه فكرة مشروعك معنا وسنخبرك بتكلفه الكامله</p>
          <p>اسئل علي خصم 40% لي العملاء الجدد  لا تنسي العرض</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-4 box" data-aos="fade-right">
            <h3>مجانا</h3>
            <h4>$0<span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i>دعم فني يشمل الاستشارات والشرح وغيرها</li>
              <li><i class="bx bx-check"></i> تحديثات في الشكل تشمل تعديلات في معلمات الموقع الاساسيه   </li>
              <li><i class="bx bx-check"></i>  تحديثات في الشكل تشمل تحديثات الالوان وغيرها</li>

              <li><i class="bx bx-check"></i>دعم تقني  تجهيز السيرفير وربطه بالدومين مجانا</li>
              <li class="na"><i class="bx bx-x"></i> <span>حمله اعلانية موسعه لي الموقع</span></li>
              <li class="na"><i class="bx bx-x"></i> <span>حمله سوشل ميدا خاصة بالموقع</span></li>
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>

          <div class="col-lg-4 box featured" data-aos="fade-up">
            <h3>موقع كامل</h3>
            <h4>$150<span>all</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> موقع كامل</li>
              <li><i class="bx bx-check"></i> لوحة تحكم</li>
              <li><i class="bx bx-check"></i>تسليم اكواد</li>
              <li><i class="bx bx-check"></i> سيرفير مجاني</li>
              <li><i class="bx bx-check"></i>دومين خاص بك</li>
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>

          <div class="col-lg-4 box" data-aos="fade-left">
            <h3>موقع متيمز</h3>
            <h4>$200<span>premium sit</span></h4>
            <ul>
              <li><i class="bx bx-check"></i>  موقع برميم</li>
              <li><i class="bx bx-check"></i> تعليلات برميم  دائما</li>
              <li><i class="bx bx-check"></i>سيرفير ودومين مجاني </li>
              <li><i class="bx bx-check"></i> وجهه متميزة للغاية</li>
           
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">

          <h2>بعض اسئله العملاء</h2>
          <p>بعض الاسئله الشائعه واجابتها</p>
        </div>

        <div class="accordion-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">كيف يمكنني ان ادفع ؟<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                <p>
                  يمكنك الدفع بوسطة بيبال او تحويلات  بنكيه او محفظة الاكترونيه
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">هل يجب دفع المبلغ كامل اول مرة ؟<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  ليس شرطا يمكنك تقسيم المبلغ لي جزائين عند البداء وبعد تسلم المشروع او يمكنك التقسيم لي عدت اجزاء حسب حجم المشروع ومتطلباتوا
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed">هل يمكنني استرجاع الاموال في حاله لم  اجد الخدمه مناسبة ؟ <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  نعم يمكنك استرجاع اموالك في حاله ان كانت الخدمه لا تتوافق التقنيات مع احتيجاتك
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed">هل يجب ان يكون السيرفير  والدومين خاص بكم فقط ؟<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  لا يمكنك اختيار اي سيرفير ترغب به من اي شركة وكذالك الدومين الخاص بك
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-5" class="collapsed">ما هوا الدومين وما وظيفة السيرفير ؟<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  الدومين هوا الينك الخاص بموقعك  والذي يوجه المستخدم الي موقعك حاله الضغط عليه ويجب ان يكون الاسم متوافق مع اسم موقعك الخاص 
                </p>
                <p>اما عن السيرفير فهوا الملفات الخاصه بالويب سيت الخاص بك والتي يجب ان تعمل طوال العام بدون انقطاع لذلك يتم رفعها علي سيرفير خاص بك</p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

  {% endblock body %}